button{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: var(--font-secondary);
}