/* Variables */
:root {
  --white: #FFFFFF;
  --grey: #AAAAAA;
  --primary: #75420E;
  --light: #F2E8E4;
  --dark: #553B08;
}

/* Body */
.containerl {
  background-color: var(--light); 
position: absolute;
width: 100%;
}

/* Header */
header {
  margin: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  object-fit: contain;
  width: 17vw;
  height: auto;
}

/* Main */
main {
  display: flex;
  justify-content: center;
}

main img {
  width: 80%;
}

/* Form, Paragraph, and Social Sign-Up */
form, p, .social-sign-up {
  width: 70%;
}

/* Form */
form h4 {
  color: var(--dark);
  padding-bottom: 1em;
}

form .form-control {
  background-color: #e5e2e9;
  opacity: 0.7;
  margin-bottom: 1.5em;
}

form .submit-btn {
  background-color: var(--primary);
  color: var(--white);
  width: 100%;
}

form .submit-btn:hover {
  background-color: var(--light);
  color: var(--primary);
  border: 1px solid var(--primary);
}

/* Paragraph */
p {
  color: var(--grey);
}

/* Horizontal Lines */
.hr-lines {
  position: relative;
  max-width: 500px;
  margin: 50px 0;
  text-align: center;
}

.hr-lines:before,
.hr-lines:after {
  content: " ";
  height: 2px;
  width: 150px;
  background: var(--grey);
  display: block;
  position: absolute;
  top: 90%;
}

.hr-lines:before {
  left: 0;
}

.hr-lines:after {
  right: 0;
}

/* Social Sign-Up */
.social-sign-up button {
  width: 100%;
  border: 1px solid var(--dark);
}

.social-sign-up button:hover {
  background: var(--primary);
  color: var(--white);
}

.social-sign-up .fa-google {
  background: conic-gradient(
    from -45deg,
    #ea4335 110deg,
    #4285f4 90deg 180deg,
    #34a853 180deg 270deg,
    #fbbc05 270deg
  ) 73% 55% / 150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* Sign-In */
.sign-in {
  margin: 1em 0;
  text-align: center;
}
